@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poiret+One&family=Sacramento&display=swap');

body {
  margin: 0;
  padding 0;
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1502989642968-94fbdc9eace4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Anton', sans-serif;
  font-size: 16px;

  color: white;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 1rem;
  flex: 1;
  height: calc(90vh - 1rem);
  flex-direction: column;
}

#app>h1 {
  font-family: 'Poiret One', sans-serif;
  font-size: 3rem;

  text-align: center;
  margin-top: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

@media screen and (max-width: 895px) {
  .game-info {
    visibility: hidden;
  }
}

@media screen and (min-width: 896px){
  .game-info {
    visibility: visible;
  }
}

.game-info {
  height: 50%;
  margin: 0 3rem;
  align-items: top;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}

.game-info>h1 {
  margin: 0;
}

.game-info>p {
  font-size: 4rem;
  margin: 0.2rem 1rem;
}

.game-info,
.grid {
  display: flex;
  flex-direction: column;
  width: clamp(15rem, 95vw, 25rem);
  border-radius: 5px;
  overflow: hidden;
  background: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 10px #aaa;
}

.grid {
  height: clamp(30rem, calc(90vh - 10rem), 75vh);
}

.col {
  flex: 1;
  border: 0.5pt solid #333;
}

.row {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  transition: 0.5s flex ease-out;
}

.tetrominos-cell {
  border: 0.5pt solid white;
  border-radius: 3px;
  box-shadow: inset -2px 2px 4px rgba(0,0,0,0.5), 
              inset 2px 2px 4px rgba(255,255,255,0.75);
}

.over {
  transition: 0.5s flex ease-in;
  bottom: 0;
  width: calc(100% - 4rem);
  display: inline-flex;
  flex-direction: column-reverse;
  background: gray;
  align-items: center;
  font-size: 6rem;
  text-align: center;
  font-family: 'Sacramento';
  line-height: 0.85em;
  overflow: hidden;
  padding: 2rem;
  flex: 0;
}

.row.full {
  flex: 0;
  height: 0;
}

.over.full {
  flex: 1;
}

.button {
  width: 250px;
  font-family: 'Poiret', sans-serif;
  padding: 1rem;
  line-height: 1.5em;
  font-size: 1.5rem;
  box-shadow: 5px 5px 20px 3px rgba(0,0,0,0.5);
  border-radius: 1rem;
  background-color: rgb(20 130 160 / 0.75);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(0 100 125 / 0.75);
}

.button:active {
  box-shadow: 3px 2px 20px 3px rgba(0,0,0,0.5);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}